@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: block;
    background-color: rgb(91, 196, 225);
    height: 100vh;
}

section{
    display: block;
    width: 600px;
    height: 600px;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(245, 244, 244,0.5) ;
    border-radius: 5px;
    border: 5px solid #333333;  
    margin: auto;  
    margin-top: 30px;
}

.container1,
.container2,
.container3{
    display: flex;
    justify-content: space-between;
    height: 170px;
    width: 90%;    
    margin: auto;
    margin-top: 3.51%;
}


.square{
    font-family: Oswald;
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    width: 170px;
    height: 100%;
    border-radius: 5px;

}

.square:hover{    
    border: 2px solid #333333;
    box-sizing: border-box;
    background-color: rgb(240, 248, 255, 0.5);
}

.square:active{
    background-color: #67d4ff;
}


h1{
    margin-top: 50px;
    text-align: center;
    height: 50px;
}


.wrap {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button {
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    }
  
  .button:hover {
    background-color: #68cefe;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }